@{
    ViewBag.Title = "Home Page";
}

<div ng-controller="HomeCtrl">
    <div class='selector'>
        <ul>
            <li>
                <input id='1' type='checkbox'>
                <label for='1'>Option 1</label>
            </li>
            <li>
                <input id='2' type='checkbox'>
                <label for='2'>Option 2</label>
            </li>
            <li>
                <input id='3' type='checkbox'>
                <label for='3'>Option 3</label>
            </li>
            <li>
                <input id='4' type='checkbox'>
                <label for='4'>Option 4</label>
            </li>
            <li>
                <input id='5' type='checkbox'>
                <label for='5'>Option 5</label>
            </li>
            <li>
                <input id='6' type='checkbox'>
                <label for='6'>Option 6</label>
            </li>
            <li>
                <input id='7' type='checkbox'>
                <label for='7'>Option 7</label>
            </li>
            <li>
                <input id='8' type='checkbox'>
                <label for='8'>Option 8</label>
            </li>
        </ul>
        <button>Menu</button>
    </div>


    <div class="row">
        <div class="col-md-3">
            <br/>
            <div style="width: 100%; height: 600px; margin-left: 20px; background: whitesmoke; border: 1px solid lightgray; border-radius: 5px; overflow-y: scroll;">
                <div id="lad"></div>
                <abn-tree tree-data="mapTreeData" tree-control="mapTree" on-select="vm.showSelectedTreeNodeInfo(branch)"
                          expand-level="2" initial-selection="Granny Smith" icon-leaf="fa"
                          icon-expand="fa fa-angle-right" icon-collapse="fa fa-angle-down" context-menu="otherMenuOptions">
                </abn-tree>
            </div>
            <div>
                <button class="btn btn-info" ng-click="vm.changeMode()">change mode</button>
                <p>{{mode}}</p>
            </div>
        </div>

        <div class="col-md-9" ng-switch="mode">
            <br/>
            <div class="_pos-absolute" >
                <img class="_map" 
                     ng-src="{{ currentMapPicLink || '//:0'}}"
                     ng-click="vm.disposeIcon($event)"
                     ng-class="{'_cursor-crosshair': mode == 'setting'}"/>
                @*<span us-spinner="{radius:30, width:6, length: 20}" spinner-key="spinner-my"></span>*@

                <img class="_icon img-circle" ng-src="http://www.runoob.com/images/sun.gif" style="left: 45px; top: 145px"/>
                <!--normal map -->
                <div ng-switch-when="normal">
                    <img class="_icon img-circle _cursor-pointer" 
                         ng-src="{{icon.iconUrl || '//:0'}}" 
                         style="left: {{icon.location.X}}px; top: {{icon.location.Y}}px; "
                         ng-repeat="icon in currentIconList"
                         ng-class="{'_icon-selected': icon.selected}"
                         ng-click="vm.clickIcon(icon)"/>
                </div><!--normal map -->

                <!--setting map -->
                <div ng-switch-when="setting">
                    <img class="_icon img-circle _cursor-pointer"
                         ng-src="{{icon.iconUrl || '//:0'}}"
                         style="left: {{icon.location.X}}px; top: {{icon.location.Y}}px; "
                         ng-repeat="icon in currentIconList"
                         ng-class="{'_icon-selected': icon.selected}"
                         ng-click="vm.clickIcon(icon)"/>

                    <div id="cp" content="mapHtmlVar"></div>
                    @*<div bind-html-compile="mapHtml"
                         ng-bind-html="mapHtml">
                    </div>*@
                </div><!--setting map -->
                
            </div>

            <!--setting map
            <div class="_pos-absolute"
                 ng-switch-when="setting"
                 bind-html-compile="mapHtml"
                 ng-bind-html="mapHtml"
                 ng-click="vm.disposeIcon($event)">
            <div></div>
            </div>setting map -->
        </div>
        
        @*<div class="col-md-4">
                <div><span us-spinner></span></div>
                <div style="margin-top: 550px;">
                    <span us-spinner="{radius:30, width:6, length: 20}" spinner-key="spinner-my"></span>
                </div>
                <div style="margin-top: 550px;">
                    <span us-spinner="{radius:80, width:8, length: 50}" spinner-key="spinner-my"></span>
                </div>
            </div>*@
    </div>
</div>
