@{
    ViewBag.Title = "Home Page";
}

<div ng-controller="HomeCtrl">
    <div class='selector'>
        <ul>
            <li>
                <input id='1' type='checkbox'>
                <label for='1'>Option 1</label>
            </li>
            <li>
                <input id='2' type='checkbox'>
                <label for='2'>Option 2</label>
            </li>
            <li>
                <input id='3' type='checkbox'>
                <label for='3'>Option 3</label>
            </li>
            <li>
                <input id='4' type='checkbox'>
                <label for='4'>Option 4</label>
            </li>
            <li>
                <input id='5' type='checkbox'>
                <label for='5'>Option 5</label>
            </li>
            <li>
                <input id='6' type='checkbox'>
                <label for='6'>Option 6</label>
            </li>
            <li>
                <input id='7' type='checkbox'>
                <label for='7'>Option 7</label>
            </li>
            <li>
                <input id='8' type='checkbox'>
                <label for='8'>Option 8</label>
            </li>
        </ul>
        <button>Menu</button>
    </div>


    <div class="row">
        <div class="col-md-3">
            <br />
            <div style="width: 100%; height: 600px; margin-left: 20px; background: whitesmoke; border: 1px solid lightgray; border-radius: 5px; overflow-y: scroll;">
                <div id="lad"></div>
                <abn-tree tree-data="mapTreeData" tree-control="mapTree" on-select="vm.showSelectedTreeNodeInfo(branch)"
                          expand-level="2" initial-selection="Granny Smith" icon-leaf="fa"
                          icon-expand="fa fa-angle-right" icon-collapse="fa fa-angle-down" context-menu="otherMenuOptions">
                </abn-tree>
            </div>
        </div>
        <div class="col-md-9">
            <br/>
            <div class="_map">
                <img class="_map" style="max-height: 100%; max-width: 100%" ng-src="{{ currentMapPicLink || '//:0'}}" /><span us-spinner="{radius:30, width:6, length: 20}" spinner-key="spinner-my"></span>
                <img class="_icon" src="http://www.runoob.com/images/sun.gif" style="left:50px; top:150px" />
            </div>
            @*<img style="height:600px; width:900px;" ng-src="currentMapPicLink" err-src="C:\jixge\pic\icon\bing.ico" />*@
            @*<img style="width: 900px; height: 600px;" ng-src="{{ currentMapPicLink || '//:0'}}" /><span us-spinner="{radius:30, width:6, length: 20}" spinner-key="spinner-my"></span>*@
            @*<img style="width: 900px; height: 600px;" ng-src="http://pica.zol-img.com.cn/2016/06/ac9af14456caa793e8f55e39f4a280cg.jpg" /><span us-spinner="{radius:30, width:6, length: 20}" spinner-key="spinner-my"></span>*@
            @*<img style="width: 900px; height: 600px;" ng-src="{{currentMapPicLink || '//:0'}}" /><span us-spinner="{radius:30, width:6, length: 20}" spinner-key="spinner-my"></span>*@
            @*<img style=" max-width: 100%; width: auto; height: auto;" ng-src="http://i3.bbs.fd.zol-img.com.cn/t_s1200x5000/g5/M00/0D/04/ChMkJldnsW2Ie0L_AALfmS8enX8AASygwDGfzkAAt-x959.jpg" /><span us-spinner="{radius:30, width:6, length: 20}" spinner-key="spinner-my"></span>*@
            @*http://wholesale-european-beads.com/upload/adv/2016/3/2116552443f.jpg*@
        </div>
        @*<div class="col-md-4">
            <div><span us-spinner></span></div>
            <div style="margin-top: 550px;">
                <span us-spinner="{radius:30, width:6, length: 20}" spinner-key="spinner-my"></span>
            </div>
            <div style="margin-top: 550px;">
                <span us-spinner="{radius:80, width:8, length: 50}" spinner-key="spinner-my"></span>
            </div>
        </div>*@
    </div>
</div>
