._map {
    width: 900px;
    height: 600px;
    //z-index:-1;
}

._icon {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid transparent;
    &:hover{
        border: 1px solid #CFCFCF;
    }
}
