#loading-bar .bar {
  position: relative;
  background: lime;
}
._map {
  width: 900px;
  height: 600px;
}
._icon {
  position: absolute;
  width: 20px;
  height: 20px;
  outline: 0px;
  border: 2px solid transparent;
}
._icon:hover {
  border: 1px solid transparent;
}
._icon-selected {
  border: 2px dotted black !important;
}
/*position*/
._pos-absolute {
  position: absolute;
}
/*cursor*/
._cursor-pointer {
  cursor: pointer;
}
._cursor-crosshair {
  cursor: crosshair;
}