#loading-bar .bar {
  position: relative;
  background: lime;
}
._map {
  width: 900px;
  height: 600px;
}
._icon {
  position: absolute;
  width: 20px;
  height: 20px;
}
/*position*/
._pos-absolute {
  position: absolute;
}
/*cursor*/
._cursor-pointer {
  cursor: pointer;
}
