<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-sanitize.js"></script>

</head>
<body ng-controller="myCtrl">

<dir id="dir" style="position: absolute;" content="divHtmlVar" ng-click="appendText($event);"></dir>

</body>
	<script type="text/javascript">
		var app = angular.module("myApp",[]);
		app.directive('dir', function($compile, $parse) {
			return {
				restrict: 'E',
				link: function(scope, element, attr) {
					scope.$watch(attr.content, function() {
						element.html($parse(attr.content)(scope));
						$compile(element.contents())(scope);
					}, true);
				}
			}
		});
		app.controller("myCtrl",function($scope, $sce, $interpolate, $compile){
			$scope.currentIcons = [];
			$scope.test = ()=>{
				alert("dwsafs");
				console.log("sdafdsafd");
				console.log("currentIcons", $scope.currentIcons);
			}
			$scope.offsetX = 0;
			$scope.offsetY = 0;
			$scope.doClick = function($event){
			    var x = $event.x;
			    var y = $event.y;
			    $scope.offsetX = $event.offsetX;
			    $scope.offsetY = $event.offsetY;

			    // you have lots of things to try here, not sure what you want to calculate
			    console.log($event, x, y, $scope.offsetX, $scope.offsetY);
			};
			//$scope.divHtmlVar2 = '<img style="border: 3px dotted black;" src="{{mapUrl}}" width="400" height="400" ng-click="test()">';
			$scope.picUrl = "http://www.runoob.com/images/pulpit.jpg";
			$scope.mapUrl = "http://www.w3schools.com/tags/planets.gif";
			$scope.divHtmlVar = '<img style="z-index: -1;" src="{{mapUrl}}" width="400px" height="400px" >';
			$scope.appendText = function($event) {
				var x = $event.x;
			    var y = $event.y;
			    $scope.offsetX = $event.offsetX;
			    $scope.offsetY = $event.offsetY;

			    // you have lots of things to try here, not sure what you want to calculate
			    console.log($event, x, y, $scope.offsetX, $scope.offsetY);
				console.log("append");
		    	$scope.divHtmlVar = $scope.divHtmlVar +  
		    	'<img class="img-circle" style="position: absolute;  left: {{offsetX + 20}}px; top: {{offsetY - 20}}px;" src="{{picUrl}}" width="40" height="40" \
		    	ng-click="test();$event.stopPropagation();" \
		    	ng-model="newIcon" \
		    	ng-init="currentIcons.push(newIcon)">';
		    	$scope.divHtmlVar = $interpolate($scope.divHtmlVar)($scope);
		    	//$scope.trustAsHtml = $sce.trustAsHtml($scope.divHtmlVar);
		    }
		    $scope.divHtmlVar = $interpolate($scope.divHtmlVar)($scope);
		    //$scope.trustAsHtml = $sce.trustAsHtml($scope.divHtmlVar);
		});
	</script>
</html>